/* common styles */
*{
  margin: 0;
  padding: 0;
  font-family: poppins;
}
body{
  background-color: #E5E5E5;
}
.container{
  width: 870px;
  margin: 0 auto;
}

img{
  width: 100%;
}

/* header section */

header{
  background-color: #562EFF;
  padding: 8px 0px;
}

.menu-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  width: 45px;
}

.menu-item ul{
  display: flex;
  align-items: center;
  gap: 30px;
}
 ul li{
  list-style: none;
 }
li a{
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}
.menu-item img{
  width: 50px;
}



/* player section */
.player-section{
  background-color: #FFFFFF;
  padding: 30px;
  margin: 40px 0px;
  border-radius: 5px;
}
.title{
  font-weight: 500;
  font-size: 24px;
  color: #562EFF;
  padding-bottom: 30px;
}

.players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 30px;
}

.player img{
  width: 55px;
}
.player{
  display: flex;
  align-items: center;
  gap: 10px;
}
.player p{
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

hr{
  border: 1px solid #d1d1d1b3;
  width: 90%;
  margin: 30px auto;
}



/* blog section */

.blogs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
}

.blog{
  display: flex;
  gap: 16px;
}
.blog img{
  width: 175px;
}

.blog-content h3{
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.blog-content p{
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
}
.blog-content a{
  font-weight: 400;
  text-decoration: none;
}

/* couse section */

.course-section{
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 5px;
}

.course-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

.course img{
  width: 220px;
}

.course h3{
  font-weight: 500;
  font-size: 20.0336px;
  color: #1E1E1E;
}
.course > p{
  font-weight: 400;
  font-size: 14.6913px;
  padding: 7px 0px;
  color: #ED6B4F;
}
.course{
  box-shadow: 2px 2px 12px -4px rgba(29, 28, 28, 0.658);  padding: 10px;
  border-radius: 10px;
}
.yellow{
  color: #FFC014;
  font-size: 12px;
}

.gray{
  color: #AEAEAE;
  font-size: 12px;
}

.course-info{
  display: flex;
  align-items: center;
  gap: 10px;
}
.course-info p{
  color: #A2A2A2;
}

.time{
  width: 80px;
  height: 20px;
  font-weight: 600;
  font-size: 14.6913px;
  color: #FF4A60;
  background-color: #FFE4E8;
  border-radius: 14.6913px;
  padding: 5px;
  text-align: center;
}


/* responsive section */

@media only screen and (max-width: 576px)
 {
  .container{
    width: 100%;
  }
  .menu-bar {
    justify-content: inherit;
    width: 100%;
    gap: 17px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }
  .blogs { 
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .course-list {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 15px;
  }
  .logo {
    padding-left: 10px;
  }
  .blog img, .course img {
    width: 100%;
  }
  .blog {
    flex-direction: column;
  }
}
